<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset name="basic">
        <field
            name="client_id"
            type="text"
            label="Client ID"
            description="Enter Zakeke Client ID"
            required="true"
        />
        <field
            name="client_secret"
            type="text"
            label="Client Secret"
            description="Enter Zakeke Client Secret"
            required="true"
        />
    </fieldset>
</form>